
services:
  db:
    image: postgres:17.2
    container_name: postgres-bank
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: bank
    ports:
      - "5432:5432"

  adminer:
    image: adminer:latest
    container_name: adminer-ui
    restart: always
    ports:
      - "8082:8080"
  smtp4dev:
    image: rnwood/smtp4dev:v3
    restart: always
    ports:
      # Change the number before : to the port the web interface should be accessible on
      # Add 127.0.0.1: prefix for localhost-only access (recommended for security)
      - 9081:80
      # Change the number before : to the port the SMTP server should be accessible on
      # Add 127.0.0.1: prefix for localhost-only access (recommended for security)
      - 9025:25